.list-view .list-cell:even {
-fx-background-color: #e0e0e0;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: #ffffff;
-fx-text-fill: black;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}


.list-view { 
	-fx-background-color: #f6e8c3;
}



