.menu-button {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.menu-button {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.list-view { 
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.root { 
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
